<form method="post">
    类型名称：<br />
    <input type="text" name="name" /><br />
    点数
    <select name="point" id="">
        <option value="0">0点</option>
        <option value="1">1点</option>
        <option value="2">2点</option>
        <option value="3">3点</option>
        <option value="4">4点</option>
        <option value="5">5点</option>
        <option value="6">6点</option>
        <option value="7">7点</option>
        <option value="8">8点</option>
        <option value="9">9点</option>
    </select>
    <br/>
    <input type="submit" value="保存修改" />
</form>
